@use "variables";
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 10vh;
    &__container{
    width: 100%;
    max-width:variables.$common-max-width;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    }
    
}
.footer__links-container{
    display: flex;
}
.footer__li{
    list-style: none;
    margin-right: 30px;
}
.footer__link{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color: variables.$primary-color;
    text-decoration: none;
}
.footer__list{
    display: flex;
    margin: 0;
    padding: 0;
    grid-area: 1/4/1/5;
}
.footer__socials-list{
    display: flex;
    width: 100%;
    max-width: 95px;
    margin: 0;
    padding: 0;
    align-items: center;
    grid-area: 1/6/1/6;
}
.footer__socials-link{
    color: variables.$primary-color;
    
}
.footer__socials-link > i:hover{
    transform: scale(1.1);
}
.footer__socials-list > i{
    width: 15px;
    height: 15px;
   
}